#head {
	border: 1px solid #000;
	text-align: center;
}
#textruta{
	text-align: center;
	margin-top: 20px;
}
#valuta1 {
	padding: 5px;
	
}
img {
	size: 5px;
}
#valuta2 {
	padding: 5px;
}
input {
	padding: 4px;
}